<!DOCTYPE html>
<html>
  <head>
    <title>My Isomorphic App</title>
    <link href='/styles.css' rel="stylesheet">
  </head>
  <body>
	

    <div id="outCont">
      <%- reactOutput %>
    </div>

	 
	<!--<script src="/main.js"></script>-->

  </body>
</html>
